*{
    margin: 0;
    padding: 0;
}

body{
    width: 89%;
    max-height:800px ;
}

.image img{
position: relative;
top: 6em;
left: 20em;
}

.content .card-form{
    border: 1px solid #c0c0c0;
    width: 25%;
    padding: 40px;
}

.card-form .title{
    text-align: center;
    margin-bottom: 50px;
    font-family: "Segoe UI"
    , Roboto, Helvetica, Arial, sans-serif;;
}

.card-form input{
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}

.card-form .btn-login{
    width: 98%;
    margin: 10px auto;
    padding: 10px;
    background-color: #108ed6;
    color: white;
    border: none;
}

.card-form a{
    text-align: center;
    text-decoration: none;
}

.createAccount{
    border: 1px solid #c0c0c0;
    width: 25%;
    padding: 20px 40px;
    margin-top: 10px;
}

.createAccount p{
    text-align: center;
}

.createAccount a{
    text-decoration: none;
    color: #108ed6;
}

.content{
    position: relative;
    left: 45em;
    top: -25em;
}

.content table td{
    padding: 6px;
}

footer a{
    text-decoration: none;
    color: #18376B;
    margin-left:30px ;
}

footer p{
    text-align: right;
    color: #555555;
    font-size: 0.7em;
    position: relative;
    top: -15px;
}

footer{
    position: relative;
    top: -20em;
}